{% extends 'fservices/main.html' %}
{% load static %}
{% block content %}
    <div class="card" style="width: 100%; margin-top: 200px; height: 10vh;">
        <div class="card-body">
            <h4 class="card-title" style="text-align: center;">OUR SERVICES</h4>
        </div>
    </div>
    <div class="card" style="width: 30rem; margin-left: 100px; margin-top: 40px;">
        <img height="300" class="card-img-top" src="/static/images/istockphoto-1299184455-170667a.jpg" alt="Card image cap">
        <div style="margin-bottom: 40px;" class="card-body">
            <h4 class="card-title" style="text-align: center;">OUR SERVICES</h4>
        </div>
    </div>
        <div class="card" style="width: 30rem; margin-top: -420px; margin-left: 600px; margin-right: -50px;">
            <img height="300" class="card-img-top" src="/static/images/istockphoto-1301677375-170667a.jpg" alt="Card image cap">
            <div style="margin-bottom: 40px;" class="card-body">
                <h4 class="card-title" style="text-align: center;">OUR SERVICES</h4>
            </div>
        </div>
        <div class="card" style="width: 30rem; margin-top: 10px; margin-left: 100px;">
            <img class="card-img-top" src="/static/images/istockphoto-1331974823-170667a.jpg" alt="Card image cap">
            <div style="margin-bottom: 40px;" class="card-body">
                <h4 class="card-title" style="text-align: center;">OUR SERVICES</h4>
            </div>
        </div>
        <div class="card" style="width: 30rem; margin-top: 10px; margin-left: 100px;">
            <img class="card-img-top" src="/static/images/istockphoto-1352014624-170667a.jpg" alt="Card image cap">
            <div style="margin-bottom: 40px;" class="card-body">
                <h4 class="card-title" style="text-align: center;">OUR SERVICES</h4>
            </div>
        </div>
        <div class="card" style="width: 30rem; margin-top: 10px; margin-left: 100px;">
            <img class="card-img-top" src="/static/images/istockphoto-1352014624-170667a.jpg" alt="Card image cap">
            <div style="margin-bottom: 40px;" class="card-body">
                <h4 class="card-title" style="text-align: center;">OUR SERVICES</h4>
            </div>
        </div>
        
    

{% endblock content %}